@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@font-face {
    font-family: '어그로l';
    src: url(../fonts/SB\ 어그로\ L.ttf) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: '어그로m';
    src: url(../fonts/SB\ 어그로\ M.ttf) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url(../fonts/NanumBarunGothicBold.ttf) format('woff2');
    font-weight: 400;
    font-style: normal;
}
#wrap * {
    font-family: 'NanumBarunGothic';
}

header {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0 1.5rem;
    z-index: 7777;
    background: #fff;
}
header h1 {
   text-align: center;
   margin-bottom: 0;
}
header h1 a {
    display: block;
    width: 100%;
}
header h1 a img {
    width: 50%;
}
header #menuBtn {
    width: 2rem;
    position: absolute;
    right: 1.5rem;
}
header #menuBtn img {
    width: 100%;
}

.navBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 8888;
    background: #33333357;
}
nav {
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    width: 55%;
    position: fixed;
    right: 0;
    top: 6rem;
    z-index: 9999;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 70%;
    padding: 2.5rem;
}
nav button {
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    width: 2rem;
}
nav button img {
    width: 100%;
}
nav a {
    font-size: 1.7rem;
    font-weight: 800;
    color: #686868;
    padding-bottom: 2.5rem;
    display: flex;
    line-height: 1.2;
}

nav a img {
    width: 2.5rem;
    margin-right: 1rem;
}
footer {
    background-color: #e4e8ef;
    padding: 1.5rem;
    text-align: center;
}
footer p{
    line-height: 1.3;
    font-size: 1.5rem;
    color: #999ea5;
    font-family: "Freesentation-5Medium";
}
footer  span{
    line-height: 1.3;
    font-size: 1.5rem;
    color: #575f68;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Freesentation-5Medium";
}
